@model WebApp.ViewModel.ClienteViewModel

@{
    string strpickadate = Model.EditMode == 1 ? "pickadate" : "";
}

<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientNombre" class="control-label"></label>
            <input type="text" asp-for="ClientNombre" class="form-control"></input>
            <span asp-validation-for="ClientNombre" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientApellido" class="control-label"></label>
            <input type="text" asp-for="ClientApellido" class="form-control"></input>
            <span asp-validation-for="ClientApellido" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientNumCta" class="control-label"></label>
            <input type="text" asp-for="ClientNumCta" class="form-control"></input>
            <span asp-validation-for="ClientNumCta" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientGeneroId" class="control-label"></label>
            <select asp-for="ClientGeneroId" class="form-control" asp-items="ViewBag.ListaGeneros"></select>
            <span asp-validation-for="ClientGeneroId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientTipoId" class="control-label"></label>
            <select asp-for="ClientTipoId" class="form-control" asp-items="ViewBag.ListaTiposClientes"></select>
            <span asp-validation-for="ClientTipoId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientSaldo" class="control-label"></label>
            <input type="number" asp-for="ClientSaldo" class="form-control"></input>
            <span asp-validation-for="ClientSaldo" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientFechaNacimiento" class="control-label"></label>
            @if (Model.ClientFechaNacimiento != null)
            {
                <input type="text" value=@Model.ClientFechaNacimiento.Value.ToString("dd/MM/yyyy") asp-for="ClientFechaNacimiento" class="@strpickadate form-control startDate" autocomplete="off" />
            }
            else
            {
                <input type="text" asp-for="ClientFechaNacimiento" class="@strpickadate form-control startDate" autocomplete="off" />
            }
            <span asp-validation-for="ClientFechaNacimiento" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientDireccion" class="control-label"></label>
            <input type="text" asp-for="ClientDireccion" class="form-control"></input>
            <span asp-validation-for="ClientDireccion" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientTelefono" class="control-label"></label>
            <input type="text" asp-for="ClientTelefono" class="form-control"></input>
            <span asp-validation-for="ClientTelefono" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientEmail" class="control-label"></label>
            <input type="email" asp-for="ClientEmail" class="form-control"></input>
            <span asp-validation-for="ClientEmail" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientEstadoCivilId" class="control-label"></label>
            <select asp-for="ClientEstadoCivilId" class="form-control" asp-items="ViewBag.ListaEstadoCivil"></select>
            <span asp-validation-for="ClientEstadoCivilId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientNumIdentificacion" class="control-label"></label>
            <input type="text" asp-for="ClientNumIdentificacion" class="form-control"></input>
            <span asp-validation-for="ClientNumIdentificacion" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientProfesion" class="control-label"></label>
            <input type="text" asp-for="ClientProfesion" class="form-control"></input>
            <span asp-validation-for="ClientProfesion" class="text-danger"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientNacionalidad" class="control-label"></label>
            <input type="text" asp-for="ClientNacionalidad" class="form-control"></input>
            <span asp-validation-for="ClientNacionalidad" class="text-danger"></span>
        </div>
    </div>

</div>
