@model WebApp.ViewModel.Usuario.UsuarioViewModel
@{
    ViewData["Title"] = "Usuario Creación";
    ViewData["Pagina"] = "CRUD Usuario";
    ViewData["Accion"] = "Crear Usuario";
}

@section BodyHeader{
    <h5>Nuevo Usuario</h5>
}

<div class="card-body">
    <form enctype="multipart/form-data" asp-action="Create" class="step-form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_UsuarioPartial" />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="btn-page">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a asp-action="Index" class="btn btn-light">Cancelar</a>

                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

